# There is no selected knowledge dataset in this Git distribution.
DB_PASSWORD=replace-with-a-long-local-database-password
MODEL_URL=http://host.docker.internal:8180/v1
MODEL_NAME=G8-Qwen3-8B-Q4
# Set to the reviewed package directory you created with tools.ingest.
KNOWLEDGE_PACKAGE_PATH=./data/packages/my-v1
